*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #3C64B1;
    --white-color: #ffffff;
    --light-black-color: #373F41;
    --text-color: #737B7D;
    --mulish-font: 'Mulish', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: var(--mulish-font);
    color: var(--light-black-color);
    font-size: 1.6rem;
    line-height: 1.8rem;
    background: #E5E5E5;
}

main {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
}

button:focus,
button:active {
    border: none;
    outline: none;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

.container  {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.j-sb {
    justify-content: space-between;
}

.j-c {
    justify-content: center;
}

.a-c {
    align-items: center;
}

.btn {
    font-size: 1.4rem;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding: 1.2rem 1.8rem;
    background: transparent;

    transition: all .3s ease-in-out;
}
.btn:hover {
   color: var(--light-black-color);
}

.btn-primary {
    color: var(--white-color);
    background: var(--main-color);
    border: 1px solid var(--main-color);
}
.btn-primary:hover {
    color: var(--main-color);
    background: var(--white-color);

    transition: all .3s ease-in-out;
}

.btn-rounded {
    border: 1px solid var(--main-color);
}
.btn-rounded:hover {
    background-color: var(--main-color);
    color: var(--white-color);
    transition: all .3s ease-in-out;
}

.text-center {
    text-align: center;
}

.page-heading h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4rem;
}

.page-heading p {
    color: var(--text-color);
    line-height: 2.2rem;
}

.top-down {
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
}

.to-left {
    transform: translateX(-50px);
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
}

.to-left.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.top-down.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.delay-4 {
    transition-delay: .5s;
}

.delay-6 {
    transition-delay: .8s;
}

.delay-8 {
    transition-delay: 1.5s;
}

